@import url('http://fonts.cdnfonts.com/css/bang-whack-pow');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div#__next {
  width: 100%;
  height: 100%;
}

button,
a {
  cursor: pointer;
}
